.video-info {
  width: 980px;
  margin: 0 auto;
  height: calc(100vh - 40px);

  // background-color: red;
  .video-content {
    display: flex;
    justify-content: space-between;

    .video-left {
      .name {
        font-size: 16px;
        line-height: 36px;
      }

      video {
        width: 690px;
        max-height: 430px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .video-right {
      width: 250px;
      margin-right: 10px;

      h3 {
        font-size: 16px;
        line-height: 36px;
        border-bottom: 1px solid #e1e1e2;
      }

      .video-time {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-top: 10px;
      }

      .description {
        margin-top: 10px;
        font-size: 13px;
        word-break: break-all;
      }

      .videoGroup {
        margin-top: 10px;
        font-size: 13px;

        span {
          padding: 0 5px;
        }

        color: #0c73c2;

        span:hover {
          text-decoration: underline;
        }
      }

      .video-group {
        ul {
          width: 100%;

          li {
            display: flex;
            width: 100%;
            margin-top: 10px;

            img {
              width: 120px;
              height: 70px;
            }

            div {
              width: 130px;
              padding-left: 10px;

              p {
                &:nth-child(1) {
                  font-size: 12px;
                }

                &:nth-child(2) {
                  color: #dfdfdf;
                  font-size: 12px;
                }

                &:nth-child(3) {
                  color: #dfdfdf;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}