.recommendation {
  width: 100%;
  height: 100%;

  .recommend-banner {
    width: 100%;
    margin-top: 10px;
    height: 250px;
    position: relative;
    margin-bottom: 20px;

    .swiper-container {
      height: 100%;
      border-radius: 5px;
      overflow: hidden;

      .swiper-slide {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // background-position-x: center;
        // background-size: contain;

        span {
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 0 0 5px 0;
          padding: 5px 10px;
          color: #ffffff;
          border-radius: 4px;
          font-size: 12px;
        }
      }
    }
  }

  .recommend-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &::after {
        content: "";
        width: 18%;
      }

      a {
        width: 18%;
        margin-bottom: 20px;
      }

      .recommend-bg {
        position: relative;

        div {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: #333;

          h3 {
            font-size: 64px;
          }

          h4 {
            font-size: 18px;
          }
        }
      }

      li {
        width: 100%;

        img {
          width: 100%;
          border-radius: 2px;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
        }
      }
    }
  }

  .top-songs {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      li {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        &:hover {
          background-color: rgba($color: #000000, $alpha: .1);
        }

        img {
          padding: 0 10px;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(100% - 100px);

          p {
            width: 100%;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:last-child {
              font-size: 12px;
              color: #dddddd;
            }
          }
        }
      }
    }
  }
}