.videos {
  width: 100%;
  height: 100%;
  padding: 0 10px;

  .videos_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid #bbb;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      a {
        margin: 0 20px;
        padding: 0 5px;
        border-bottom: 2px solid transparent;
      }

      li {
        white-space: nowrap;
        height: 36px;
        line-height: 36px;
      }

      .active {
        border-bottom: 2px solid red;
      }
    }
  }

  .videos-area {
    max-width: 1000px;
    margin: auto;
  }

  .scrollarea {
    //  height: 100%;
    height: calc(100% - 40px);
  }
}

.components_video {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 130px);
  padding-top: 20px;

  .song_list_text {
    display: table;
    font-size: 12px;
    padding: 5px 20px 5px 5px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background: url('../../common/images/icon_arrow_b.png') right 5px center / 12px 12px no-repeat;
  }
}

.components_mv {
  .contents {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &::after {
        content: "";
        width: 24%;
        /*只需要添加父元素的after伪元素中 高度0 ，宽度与item的宽一样*/
      }

      a {
        width: 24%;
      }

      li {
        width: 100%;
        margin: 10px 10px 0;

        img {
          width: 100%;
        }

        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}