.videos {
  width: 100%;
  height: 100%;
  padding: 0 10px;

  .videos_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid #bbb;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      a {
        margin: 0 20px;
        padding: 0 5px;
        border-bottom: 2px solid transparent;
      }

      li {
        white-space: nowrap;
        height: 36px;
        line-height: 36px;
      }

      .active {
        border-bottom: 2px solid red;
      }
    }
  }

  .videos-area {
    height: calc(100% - 40px);
  }
}

.components_video {
  position: relative;
  max-width: 1000px;
  margin: auto;
  min-height: calc(100vh - 130px);
  padding-top: 20px;

  .song_list_text {
    display: table;
    font-size: 12px;
    padding: 5px 20px 5px 5px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background: url('../../common/images/icon_arrow_b.png') right 5px center / 12px 12px no-repeat;
  }

  .all_list {
    position: absolute;
    top: 60px;
    left: 4px;
    width: 540px;
    height: 400px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: rgba($color: #000000, $alpha: 0.8);

    .area {
      height: calc(100% - 10px);
    }

    &::before {
      position: absolute;
      content: '';
      top: -10px;
      left: 12px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba($color: #000000, $alpha: 0.8);
    }

    .lists {
      display: flex;
      padding: 20px 10px 0;
      flex-direction: column;

      & p:first-child {
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin: 5px;
        border-radius: 2px;
        font-size: 13px;
        background-color: rgba($color: #fff, $alpha: 0.2);
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: 80px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          margin: 5px;
          border-radius: 2px;
          font-size: 13px;
          background-color: rgba($color: #fff, $alpha: 0.2);
        }
      }
    }

  }
}


.components_mv {
  position: relative;
  max-width: 1000px;
  margin: auto;
  min-height: calc(100vh - 130px);
  padding-bottom: 20px;

  .contents {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        width: 50%;

        &:nth-child(odd) li {
          border-right: 1px solid #b4b4b4;
        }

        li {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px 0;
          height: 110px;
          border-bottom: 1px solid #b4b4b4;

          p:first-child {
            white-space: nowrap;
            padding-left: 10px;
          }

          .img_box {
            position: relative;
            padding: 0 10px;

            span {
              position: absolute;
              top: 0;
              right: 10px;
              height: 20px;
              line-height: 20px;
              padding: 0 5px 0 40px;
              font-size: 12px;
              background: url('../../common/images/a9p.png') center center / cover no-repeat;

            }

          }

          .c_info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: calc(100% - 200px);
            height: 90px;

            p {
              width: 100%;
              padding: 0;
            }

            & p:first-child {
              font-size: 13px;
              line-height: 30px;
              color: #444;
            }

            & p:last-child {
              font-size: 12px;
              line-height: 20px;
              color: #fefefe;
            }
          }
        }

        &:nth-last-child(-n + 2) li {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}