.event {
  padding: 30px;

  .dynamic-list {
    .dynamic-item {
      &:not(:first-child) {
        margin-top: 20px;
      }

      .dynamic-top {
        display: flex;
        line-height: 20px;

        div {
          p {
            span {
              &.user-name {
                cursor: pointer;
              }

              margin-right: 10px;
            }
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .dynamic-msg {
        p {
          &:not(:first-child) {
            margin-top: 20px;
          }
        }

        margin: 10px 0 0 50px;
      }

      .media {
        display: flex;
        margin: 5px 0 0 50px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.2);

        div {
          p {
            line-height: 20px;
          }
        }

        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }

      .media-video {
        margin: 10px 0 0 50px;

        .media-info {
          display: flex;
          flex-direction: column;

          video {
            width: 100%;
            max-width: 800px;
          }

          p {
            padding: 20px 0 5px;

            span {
              margin-right: 20px;
              cursor: pointer;
            }
          }
        }

        .media-box {
          position: relative;
          width: 340px;
          height: 190px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .media-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2)
              url("../../common/images/icon_play.png") center center / 40px
              no-repeat;
          }

          p {
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;
            z-index: 2;
          }
        }
      }

      .pics {
        margin: 10px 0 0 50px;

        img {
          width: 120px;
          height: 120px;
          margin: 5px 8px 0 0px;
        }
      }
      .dsadas {
        div {
          margin: 10px 0 0 50px;
        }
      }
    }
  }
}
