.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  -webkit-app-region: drag;
  // background-color: #0071fb;
  border-bottom: 1px solid #0071fb;
  .left {
    width: 200px;
    height: 100%;
    background-color: snow;
    background: url("../../common/images/logo-w.png") center center / 100% 30px
      no-repeat;
  }
  .center {
    width: calc(100% - 350px);
  }
  .right {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
    width: 150px;
    .icons {
      width: 18px;
      height: 18px;
      margin-left: 15px;
      // border-radius: 50%;
      -webkit-app-region: no-drag;
      // border: 1px solid #ffffff;
      // box-shadow: inset 0px 0px 3px 0px #fff;
    }
    .icons:hover {
      box-shadow: inset 0px 0px 1px 0px #999;
    }
    .min {
      background-color: yellow;
      background: url("../../common/images/min.png") center center / contain
        no-repeat;
    }
    .max {
      background-color: green;
      background: url("../../common/images/max.png") center center / contain
        no-repeat;
    }
    .close {
      background-color: red;
      background: url("../../common/images/close.png") center center / contain
        no-repeat;
    }
  }
}
