.search {
  position: relative;
  width: 100%;
  height: 100%;
  .search_input {
    width: 100%;
    padding: 15px;
    input {
      width: 100%;
      height: 40px;
      padding: 10px 16px;
      font-size: 16px;
      outline: none;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.5);
    }
    input::placeholder {
      color: #666;
      font-size: 16px;
    }
  }
  .search-content {
    height: calc(100% - 70px);
    // padding: 0 15px;
  }
}
.hot-and-history {
  display: flex;
  justify-content: space-between;
  .hah {
    width: 48%;
    .search-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #444;
      line-height: 30px;
      padding-right: 15px;
      margin-left: 15px;
      border-bottom: 1px solid #bbb;
      .search-clear {
        width: 25px;
        height: 25px;
        background: url("../../common/images/icon_del.png") center center /
          contain no-repeat;
      }
    }
    .scrolling {
      padding: 0 0 20px 0;
      height: calc(100vh - 190px);
    }
    li:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .search-hot {
    .icon-hot {
      width: 25px;
    }
    .icon-new {
      width: 25px;
    }
    .icon-top {
      width: 10px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        .hot-index {
          color: #ddd;
          font-size: 16px;
          font-weight: 500;
        }
        .hot-index-active {
          color: #fd3c3c;
          font-size: 18px;
          font-weight: 500;
        }
        .hot-list {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          .hot-info {
            display: flex;
            align-items: center;
            p {
              padding-right: 10px;
            }
            .hot-name {
              color: #fff;
            }
            .hot-score {
              color: #ddd;
              font-size: 14px;
            }
          }
          .hot-content {
            color: #eee;
            font-size: 14px;
            margin-top: 5px;
            font-weight: 100;
          }
        }
      }
    }
  }

  .search-History {
    ul {
      li {
        position: relative;
        width: 100%;
        line-height: 40px;
        padding: 0 40px 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .fork {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          background: url("../../common/images/iocn_fork.png") center center /
            14px 14px no-repeat;
        }
      }
    }
  }
}
.search-suggest {
  position: absolute;
  top: 54px;
  left: 15px;
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  h3 {
    height: 30px;
    line-height: 30px;
    padding-left: 44px;
    // border-bottom: 1px solid #444;
  }
  .songs {
    background: url("../../common/images/icon_video.png") 10px center / 24px
      no-repeat;
  }
  .artists {
    background: url("../../common/images/icon_video.png") 10px center / 24px
      no-repeat;
  }
  .albums {
    background: url("../../common/images/icon_video.png") 10px center / 24px
      no-repeat;
  }
  .mvs {
    background: url("../../common/images/icon_video.png") 10px center / 24px
      no-repeat;
  }
  .playlists {
    background: url("../../common/images/icon_video.png") 10px center / 24px
      no-repeat;
  }
  ul {
    li {
      height: 30px;
      line-height: 30px;
      padding: 0 15px 0 44px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.search-info {
  width: 100%;
  height: 100%;
  .rolling-box {
    height: calc(100% - 50px);

    // background-color: skyblue;
    .si-nav {
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid #ccc;
      .si-item {
        margin: 0 15px;
        padding: 5px;
        white-space: nowrap;
        border-bottom: 2px solid transparent;
      }

      .si-item-active {
        color: red;
        border-bottom: 2px solid red;
      }
    }
  }
}
