.video {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      width: 200px;
      /*只需要添加父元素的after伪元素中 高度0 ，宽度与item的宽一样*/
    }
    li {
      width: 160px;
      margin: 10px 10px 0;
      img {
        width: 160px;
        height: 90px;
      }
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
